
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">
                    <h2>Make Your Checkout Here</h2>
                    <p>Please register in order to checkout more quickly</p>
                    <!-- Form -->
                    @using (Html.BeginForm("check", "ShoppingCart"))
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">

                                    <input type="text" name="name" placeholder="Name" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">

                                    <input type="number" name="phone" placeholder="Phone Number" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group" style="padding-top:20px">

                                    <input type="text" name="email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group" style="padding-top:20px">

                                    <input type="text" name="address" placeholder="Address" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" style="padding-top:20px">

                                    <input type="text" name="number" placeholder="Note.." required="required" style="height:100px">
                                </div>
                            </div>
                        </div>
                        <input type="submit"  value="proceed to checkout" />
                    }
                    <!--/ End Form -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>CART  TOTALS</h2>
                        <div class="content">
                            <ul>
                                <li>Sub Total<span>$330.00</span></li>
                                <li>(+) Shipping<span>$10.00</span></li>
                                <li class="last">Total<span>$340.00</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                             @*   @using (Html.BeginForm("Checkout1", "ShoppingCart"))
                                {
                                    <a><input type="submit" name="checkout" value="proceed to checkout" /></a>
                                }*@
                                @ViewBag.name
                            </div>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
