
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success" style="font-family:Arial;font-size:20px">
                    <h2>Shopping Successfully !</h2>
                    <h4>Bills of your had sent the HongAn Perfume. You will receive goods in 2->3 days. See you again !   @ViewBag.name</h4>
                 
                </div>
                <div class="button5">
                    <a class="btn btn-success" href="/Home/Index" style="color:white">Continue shopping...</a>
                </div>

            </div>
        </div>
    </div>
</div>


