
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">

                            <h3>About Us</h3>
                        </div>
                        <div style="font-family:Arial">
                            Cam kết với khách hàng: *Sản phẩm 100% giống mô tả *
                            Giao hàng ngay khi nhận được đơn
                            Đổi trả theo đúng quy định của Shopee :
                            1. Điều kiện áp dụng (trong vòng 07 ngày kể từ khi nhận sản phẩm):
                            - Hàng hoá vẫn còn mới, chưa qua sử dụng - Hàng hoá bị lỗi hoặc hư hỏng do vận chuyển hoặc do nhà sản xuất

                            2. Trường hợp được chấp nhận:
                            - Hàng không đúng chủng loại, mẫu mã như quý khách đặt hàng
                            - Không đủ số lượng, không đủ bộ như trong đơn hàng
                            - Tình trạng bên ngoài bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…

                            3. Trường hợp không đủ điều kiện áp dụng chính sách:
                            - Quá 07 ngày kể từ khi Quý khách nhận hàng.
                            - Gửi lại hàng không đúng mẫu mã, không phải hàng của shop
                            - Do màn hình và điều kiện ánh sáng khác nhau, màu sắc thực tế của sản phẩm có thể chênh lệch khoảng 3-5%.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <i class="fa fa-phone"></i>
                            <h4 class="title">Call us Now:</h4>
                            <ul>
                                <li>+123 456-789-1120</li>
                                <li>+522 672-452-1120</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-envelope-open"></i>
                            <h4 class="title">Email:</h4>
                            <ul>
                                <li><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
                                <li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-location-arrow"></i>
                            <h4 class="title">Our Address:</h4>
                            <ul>
                                <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
